[submodule "libtinyfseq"]
	path = dep/libtinyfseq
	url = git@github.com:Cryptkeeper/libtinyfseq.git
[submodule "liblightorama"]
	path = dep/liblightorama
	url = git@github.com:Cryptkeeper/liblightorama.git
[submodule "sds"]
	path = dep/sds
	url = git@github.com:antirez/sds.git
